<template>
  <div class="container py-5">
    <form @submit.prevent="submit" class="row">
      <div class="col-12">
        <h3>Create Location</h3>
        <p>Use the form below to add a new location to the system</p>
      </div>
      <div class="col-md-12">
        <div class="row half_row">
          <div class="col-sm-6 mb-3 half_col">
            <label for="name"><b>Location Name</b></label>
            <input type="text" name="name" placeholder="Location Name" class="form-control" v-model="fields.name" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
          </div>
          <div class="col-sm-6 mb-3 half_col">
            <label for="city"><b>Town / City</b></label>
            <input type="text" name="city" placeholder="Town / City" class="form-control" v-model="fields.city" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.city" class="text-primary">{{ errors.city[0] }}</div>
          </div>
          <div class="col-sm-6 mb-3 half_col">
            <label for="address_line_1"><b>Address Line 1</b></label>
            <input type="text" name="address_line_1" placeholder="Address Line 1" class="form-control" v-model="fields.address_line_1" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.address_line_1" class="text-primary">{{ errors.address_line_1[0] }}</div>
          </div>
          <div class="col-sm-6 mb-3 half_col">
            <label for="address_line_2"><b>Address Line 1</b></label>
            <input type="text" name="address_line_2" placeholder="Address Line 2" class="form-control" v-model="fields.address_line_2" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.address_line_2" class="text-primary">{{ errors.address_line_2[0] }}</div>
          </div>
          <div class="col-sm-6 mb-3 half_col">
            <label for="post_code"><b>Post Code</b></label>
            <input type="text" name="post_code" placeholder="Post Code" class="form-control" v-model="fields.post_code" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.post_code" class="text-primary">{{ errors.post_code[0] }}</div>
          </div>
          <div class="col-sm-6 mb-3 half_col">
            <label for="g_maps"><b>Google Maps Link</b></label>
            <input type="text" name="g_maps" placeholder="Link" class="form-control" v-model="fields.g_maps" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.g_maps" class="text-primary">{{ errors.g_maps[0] }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-12">
        <button id="submit" type="submit" class="btn btn-primary float-right" disabled>Create</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fields: {
          name: "",
          city: "",
          address_line_1: '',
          address_line_2: '',
          post_code: '',
          g_maps: '',
        },
        errors: {},
        success: false,
        loaded: true,
      }
    },
    methods: {
      checkInputs(){
        if(
          this.fields.name != "" &&
          this.fields.city != ""
          ){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('name', this.fields.name);
          formData.append('city', this.fields.city);
          formData.append('address_line_1', this.fields.address_line_1);
          formData.append('address_line_2', this.fields.address_line_2);
          formData.append('post_code', this.fields.post_code);
          formData.append('g_maps', this.fields.g_maps);

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Adding Location";

          axios.post('/api/locations/store', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Location Added Successfully";
            window.location.replace('/admin/locations');
          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      },
    },
  }
</script>