<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-6"><h3 class="mb-0">Locations</h3></div>
          <div class="col-6">
            <a href="/admin/locations/create">
              <div class="btn btn-primary btn-small float-right"><i class="fa fa-plus mr-2"></i> Create</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Location Name</th>
                  <th scope="col">City</th>
                  <th scope="col" class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="location in locations.data">
                  <td><p class="event-name mb-0 mt-2">{{location.name}}</p></td>
                  <td><p class="mb-0 mt-2">{{location.city}}</p></td>
                  <td>
                    <div class="btn btn-icon btn-danger float-right ml-1" @click="delLocation(location)"><i class="fa fa-trash"></i></div>
                    <a :href="'/admin/locations/edit/'+location.id">
                      <div class="btn btn-icon btn-primary float-right ml-1"><i class="fa fa-edit"></i></div>
                    </a>
                    <a :href="'/admin/locations/show/'+location.id">
                      <div class="btn btn-icon btn-success float-right"><i class="fa fa-eye"></i></div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-4 justify-content-center">
                  <pagination :data="locations" @pagination-change-page="getLocations"></pagination>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      locations: {}
    }
  },
  mounted(){
    this.getLocations();
  },
  methods: {
    delLocation(location){
      $('.rem-location-name').each(function(){
        $(this).html(location.name);
      });
      document.getElementById('rem-location-id').value = location.id;
      $('#removeLocationModal').modal('show');
    },
    getLocations(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/locations/get').then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.locations = response.data;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
  },
}
</script>