<template>
  <div class="modal danger fade" id="removeLocationModal" tabindex="-1" role="dialog" aria-labelledby="removeLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="">
          <form @submit.prevent="submit" class="row justify-content-center">
            <div class="col-md-5">
              <div class="form-group">
                <input id="rem-location-id" type="hidden" name="id" v-model.lazy="fields.id"/>
                <div v-if="errors && errors.id" class="text-primary">{{ errors.id[0] }}</div>
              </div>
              <div class="form-group">
                <img src="/img/icons/warning.svg" class="d-block mx-auto" width="100" alt="warning icon"/>
                <h4>Delete <span class="rem-location-name"></span>?</h4>
                <p><b>Clicking confirm will remove the <span class="rem-location-name"></span> location from the system. This cannot be undone.</b></p>
                <button id="submit" type="submit" class="btn btn-raised btn-primary d-block m-auto" data-toggle="modal" data-target="#removeLocationModal">Confirm</button>
                <p class="mt-3 cursor-pointer" data-toggle="modal" data-target="#removeLocationModal">Cancel</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      fields: {
        id: "",
      },
      errors: {},
      success: false,
      loaded: true,
    }
  },
  methods: {
    submit() {
      this.fields.id = document.getElementById('rem-location-id').value;
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};

        document.getElementById("loader").classList.add("on");
        document.getElementById("loader-message").innerHTML = "Removing Location";

        axios.post('/api/locations/del/' + this.fields.id + '/', this.fields).then(response => {
          // Empty fields and enable success message
          this.fields = {};
          this.loaded = true;
          this.success = true;
        })

        .then(function (response) {
          // Turn off loader animation and reirect user to destination page
          document.getElementById("loader-message").innerHTML = "Location Removed Successfully";
          window.location.replace('/admin/locations');
        })

        .catch(error => {
          // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
          document.getElementById("loader").classList.remove("on");
        });
      }
    },
  },
}
</script>