<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{location.name}}</h3>
                <p class="mb-0 mt-2"><b>City:</b> {{location.city}}</p>
                <p class="mb-0 mt-2" v-if="location.address_line_1"><b>Address Line 1:</b> {{location.address_line_1}}</p>
                <p class="mb-0 mt-2" v-if="location.address_line_2"><b>Address Line 2:</b> {{location.address_line_2}}</p>
                <p class="mb-0 mt-2" v-if="location.post_code"><b>Post Code:</b> {{location.post_code}}</p>
                <p class="mb-0 mt-2"><b>Google Maps Link:</b> <a v-if="location.g_maps" :href="location.g_maps" target="_blank">{{location.g_maps}}</a><span v-else>No Link Available</span></p>
                <p class="mb-0 mt-2"><b>Location Website Link:</b> <a v-if="location.link" :href="location.link" target="_blank">{{location.link}}</a><span v-else>No Link Available</span></p>
              </div>
              <div class="col-3">
                <div class="btn btn-icon btn-danger float-right ml-1" @click="delLocation(location)"><i class="fa fa-trash"></i></div>
                <a :href="'/admin/locations/edit/'+location.id">
                  <div class="btn btn-icon btn-primary float-right"><i class="fa fa-edit"></i></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    location: Object,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
    }
  },
  methods: {
    delLocation(location){
      $('.rem-location-name').each(function(){
        $(this).html(location.name);
      });
      document.getElementById('rem-location-id').value = location.id;
      $('#removeLocationModal').modal('show');
    }
  },
}
</script>