<template>
  <div class="container py-5">
    <form @submit.prevent="submit" class="row">
      <div class="col-12">
        <h3>Create News Article</h3>
        <p>Use the form below to add a new news article to the website</p>
      </div>
      <div class="col-md-6">
        <div class="row half_row">
          <div class="col-12 mb-3 half_col">
            <label for="title" class="mb-1"><b>Article Title</b> (max 50 characters)</label>
            <div id="title" class="input-group">
              <input type="text" class="form-control" placeholder="Article Title" :maxlength="titlemaxchars" v-model="fields.title" v-on:keyup="checkInputs"/>
              <div class="input-group-addon" v-text="(titlemaxchars - fields.title.length)"></div>
            </div>
            <div v-if="errors && errors.title" class="text-primary">{{ errors.title[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="exerpt" class="mb-1"><b>Exerpt</b> (a short description of the article, max 125 characters)</label>
            <div id="exerpt" class="input-group">
              <input type="text" class="form-control" placeholder="A short description of the case study" :maxlength="reqmaxchars" v-model="fields.exerpt" v-on:keyup="checkInputs"/>
              <div class="input-group-addon" v-text="(reqmaxchars - fields.exerpt.length)"></div>
            </div>
            <div v-if="errors && errors.exerpt" class="text-primary">{{ errors.exerpt[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="category"><b>Category</b></label>
            <select id="category" class="form-control" name="category" v-model="fields.category" v-on:change="checkInputs">
              <option disabled="" value="Select Category">Select Category</option>
              <option v-for="category in categories" :value="category.id">{{category.name}}</option>
            </select>
            <div v-if="errors && errors.category" class="text-primary">{{ errors.category[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="status"><b>Status</b></label>
            <select id="status" class="form-control" name="status" v-model="fields.status" v-on:change="checkInputs">
              <option disabled="" value="Select Status">Select Status</option>
              <option value="draft">Draft</option>
              <option value="published">Published</option>
            </select>
            <div v-if="errors && errors.status" class="text-primary">{{ errors.status[0] }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="image"><b>Image</b></label>
        <div class="file-input-holder">
          <input id="image" type="file" @change="onFileChange"/>
        </div>
        <div v-if="!fields.image">
          <div class="file-input">
            <div class="image-holder shadow" @click="clickInput">
              <div class="d-table">
                <div class="d-table-cell align-middle">
                  <i class="fa fa-image"></i>
                  <p class="mb-0">Click to add image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="image-preview position-relative" @click="clickInput">
            <img :src="fields.image" class="img-fluid shadow max-h-438" alt="New job image"/>
            <div class="edit-image">
              <div class="d-table">
                <div class="d-table-cell align-middle">
                  <i class="fa fa-image"></i>
                  <p class="mb-0">Click to change image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="errors && errors.image" class="text-primary">{{ errors.image[0] }}</div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-md-12 mb-3">
        <label for="body" class="mb-0"><b>Article</b></label>
        <p>Enter the main body of the news article</p>
        <vue-editor v-model="body" :editorToolbar="customToolbar"></vue-editor>
        <div v-if="errors && errors.body" class="text-primary">{{ errors.body[0] }}</div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-12">
        <button id="submit" type="submit" class="btn btn-primary float-right" disabled>Create</button>
      </div>
    </form>
  </div>
</template>

<script>
  import { VueEditor } from "vue2-editor";
  export default {
    props: {
      categories: Array,
    },
    components: {
      VueEditor
    },
    data() {
      return {
        customToolbar: [
          ["bold", "italic", "underline"],
          [{ list: "ordered" }, { list: "bullet" }]
        ],
        fields: {
          title: "",
          exerpt: "",
          category: 'Select Category',
          status: "Select Status",
          image: "",
        },
        body: "",
        file: "",
        errors: {},
        reqmaxchars: 125,
        titlemaxchars: 50,
        success: false,
        loaded: true,
      }
    },
    watch:{
      body: function(newValue, oldValue) {
        this.checkInputs();
      }
    },
    methods: {
      checkInputs(){
        if(
          this.fields.title != "" &&
          this.fields.exerpt != "" &&
          this.fields.image != "" &&
          this.fields.status != "Select Status" &&
          this.fields.category != "Select Category" &&
          this.body != ""
          ){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      onFileChange(e){
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        this.createImage(files[0]);
        this.file = files[0];
      },
      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
          this.fields.image = e.target.result;
          this.checkInputs();
        };
        reader.readAsDataURL(file);
      },
      removeImage: function (e) {
        this.fields.image = '';
      },
      clickInput() {
        document.getElementById('image').click();
      },
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('image', this.file);
          formData.append('title', this.fields.title);
          formData.append('category', this.fields.category);
          formData.append('status', this.fields.status);
          formData.append('exerpt', this.fields.exerpt);
          formData.append('body', this.body);

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Adding News Article";

          axios.post('/api/news/store', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "News Article Added Successfully";
            window.location.replace('/admin/news');
          })

          .catch(error => {
            // Error handling
            console.log(error.response);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      },
    },
  }
</script>