<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-6"><h3 class="mb-0">News</h3></div>
          <div class="col-6">
            <a href="/admin/news/create">
              <div class="btn btn-primary btn-small float-right"><i class="fa fa-plus mr-2"></i> Create</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Article Title</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created</th>
                  <th scope="col" class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="article in news.data">
                  <td><p class="news-name mb-0 mt-2">{{article.title}}</p></td>
                  <td><p class="mb-0 mt-2">{{article.status}}</p></td>
                  <td><p class="mb-0 mt-2">{{moment(article.created_at)}}</p></td>
                  <td>
                    <div class="btn btn-icon btn-danger float-right ml-1" @click="delNews(article)"><i class="fa fa-trash"></i></div>
                    <a :href="'/admin/news/edit/'+article.id">
                      <div class="btn btn-icon btn-primary float-right ml-1"><i class="fa fa-edit"></i></div>
                    </a>
                    <a :href="'/admin/news/show/'+article.id">
                      <div class="btn btn-icon btn-success float-right"><i class="fa fa-eye"></i></div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-4 justify-content-center">
                  <pagination :data="news" @pagination-change-page="getNews"></pagination>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      news: {},
      limit: 10,
    }
  },
  mounted(){
    this.getNews();
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delNews(news){
      $('.rem-news-name').each(function(){
        $(this).html(news.title);
      });
      document.getElementById('rem-news-id').value = news.id;
      $('#removeNewsModal').modal('show');
    },
    getNews(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/news/get-posts/all/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.news = response.data;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
  },
}
</script>