<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{post.title}}</h3>
                <p class="mb-0 mt-2"><b>Published:</b> {{moment(post.created_at)}}</p>
                <p class="mb-0 mt-2"><b>Exerpt:</b> {{post.exerpt}}</p>
                <p class="mb-0 mt-2"><b>Category:</b> {{post.category.name}}</p>
                <p class="mb-0 mt-2"><b>Status:</b> {{post.status}}</p>
              </div>
              <div class="col-3">
                <div class="btn btn-icon btn-danger float-right ml-1" @click="delNews(post)"><i class="fa fa-trash"></i></div>
                <a :href="'/admin/news/edit/'+post.id">
                  <div class="btn btn-icon btn-primary float-right"><i class="fa fa-edit"></i></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid shadow" :src="image" :alt="post.name + ' image'"/>
          </div>
          <div class="col-12 mt-4">
            <h3>Article</h3>
            <div id="admin-news-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    post: Object,
    image: String,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
    }
  },
  mounted(){
    document.getElementById('admin-news-body').innerHTML = this.$props.post.body;
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delNews(post){
      $('.rem-news-name').each(function(){
        $(this).html(post.title);
      });
      document.getElementById('rem-news-id').value = post.id;
      $('#removeNewsModal').modal('show');
    }
  },
}
</script>