<template>
  <div class="file-input">
    <div class="file-input-holder">
      <input :id="this.$props.id" :name="this.$props.name" type="file"/>
    </div>
    <div class="btn btn-primary" @click="clickInput">Upload</div>
  </div>
</template>

<script>
  export default {
    props: {
      id: String,
      name: String,
    },
    methods: {
      clickInput() {
        document.getElementById(this.$props.id).click();
      }
    }
  }
</script>
