<template>
  <div class="container position-relative" :style="'min-height:' + height + 'px;'">
    <loader :height="height" :loaderClass="loaderClass"></loader>
    <div v-if="popularPages.length > 0" class="row">
      <div class="col-8">
        <h3 class="mb-1">Most popular pages</h3>
        <p class="mb-0">Pages on your website with the most views</p>
      </div>
      <div class="col-4">
        <select v-model="days" class="form-control" @change="getData">
          <option value="7">Last Week</option>
          <option value="30">Last Month</option>
          <option value="365">Last Year</option>
        </select>
      </div>
      <div class="col-12 mt-3">
        <ul class="list-group">
          <li v-for="(page, index) in popularPages" class="list-group-item"><b class="mr-2">{{index +1}}</b> {{page.pageTitle}} <b class="float-right">{{page.pageViews}} Views</b></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      days: 7,
      height: 570,
      loaderClass: "on",
      loaded: false,
      popularPages: {},
    }
  },
  mounted () {
    this.getData();
  },
  methods:{
    getData(){
      this.loaderClass = "on";
      axios.get('/api/analytics/popular-pages?days=' + this.days)
      .then(response => {
        // Empty fields and enable success message
        this.fields = {};
        this.loaded = true;
        this.success = true;
        this.popularPages = response.data;
        this.loaderClass = "off";
      })
      .catch(error => {
        // Error handling
        console.log(error.response.data);
        this.loaded = true;
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
        document.getElementById("loader").classList.remove("on");
      });
    }
  }
}
</script>