<template>
  <div class="container position-relative" :style="'min-height:' + height + 'px;'">
    <loader :height="height" :loaderClass="loaderClass"></loader>
    <div v-if="chartdata" class="row">
      <div class="col-8">
        <h3 class="mb-1">User types</h3>
        <p class="mb-0">The ratio of new users to returning users</p>
      </div>
      <div class="col-4">
        <select v-model="days" class="form-control" @change="getData">
          <option value="7">Last Week</option>
          <option value="30">Last Month</option>
          <option value="365">Last Year</option>
        </select>
      </div>
      <div class="col-12">
        <GChart
          :settings="{packages: ['corechart']}"    
          :data="chartdata"
          :options="chartOptions"
          :createChart="(el, google) => new google.visualization.PieChart(el)"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      days: 7,
      height: 430,
      loaderClass: "on",
      chartsLib: null, 
      loaded: false,
      chartdata: null,
      chartOptions: {
        height: 450,
        intervals: { 'style':'area' },
        colors: ['#00ADEF', '#263C4B'],
        vAxis: { textPosition: 'none' },
      }
    }
},
  mounted () {
    this.getData();
  },
  methods:{
    getData(){
      this.loaderClass = "on";
      axios.get('/api/analytics/user-type?days=' + this.days)
      .then(response => {
        // Empty fields and enable success message
        this.fields = {};
        this.loaded = true;
        this.success = true;
        this.chartdata = response.data;
        this.loaderClass = "off";
      })
      .catch(error => {
        // Error handling
        console.log(error.response.data);
        this.loaded = true;
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
        document.getElementById("loader").classList.remove("on");
      });
    }
  }
}
</script>