<template>
  <form @submit.prevent="submit" class="row half_row">
    <div class="col-12 half_col">
      <label for="name"><b>Name</b></label>
    </div>
    <div class="col-8 half_col mb-3">
      <input type="text" name="name" placeholder="Name" class="form-control" v-model="fields.name" v-on:keyup="checkInputs"/>
      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
    </div>
    <div class="col-4 half_col">
      <button id="submit" type="submit" class="btn btn-primary float-right" disabled>Create</button>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      category: Object
    },
    data() {
      return {
        fields: {
          name: "",
        },
        errors: {},
        success: false,
        loaded: true,
      }
    },
    methods: {
      checkInputs(){
        if(this.fields.name != ""){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('name', this.fields.name);

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Adding Sub-category";

          axios.post('/api/categories/store/'+ this.$props.category.id, formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Sub-category Added Successfully";
            document.getElementById("loader").classList.remove("on");
            this.$emit('changed', 'changed');
          })
          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      },
    },
  }
</script>