<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-12"><h3 class="mb-0">Categories</h3></div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Products</th>
                  <th scope="col">Blog Posts</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cat in categories.data">
                  <td><p class="job-name mb-0 mt-2">{{cat.name}}</p></td>
                  <td><p class="mb-0 mt-2">{{cat.products.length}}</p></td>
                  <td><p class="mb-0 mt-2">{{cat.posts.length}}</p></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-4 justify-content-center">
                  <pagination :data="categories" @pagination-change-page="getCategories"></pagination>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      categories: {},
      limit: 10,
    }
  },
  mounted(){
    this.getCategories();
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delCategory(category){
      $('.rem-category-name').each(function(){
        $(this).html(category.name);
      });
      document.getElementById('rem-category-id').value = category.id;
      $('#removeCategoryModal').modal('show');
    },
    getCategories(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/categories/get/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.categories = response.data;
            // console.log(this.jobs);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
  },
}
</script>