<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-0">{{category.name}}</h3>
                <p class="mb-0 mt-2"><b>Subcategories:</b> {{subcategories.length}}</p>
                <p class="mb-0 mt-2"><b>Products:</b> <!-- {{category.products.length}} --> 1</p>
                <p class="mb-0 mt-2"><b>Case Studies:</b> {{category.casestudies.length}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <h4>Create Sub-category</h4>
            <create-category :category="category" @changed="getSubCategories"></create-category>
          </div>
        </div>
        <div v-if="subs.length" class="row mt-5">
          <div class="col-12">
            <h4 class="mb-3">Sub Categories</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Products</th>
                  <th scope="col" class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(sub, index) in subs">
                  <th scope="row"><p class="mb-0 mt-2"><b>{{index + 1}}</b></p></th>
                  <td><p class="category-name mb-0 mt-2">{{sub.name}}</p></td>
                  <td><p class="mb-0 mt-2"><!-- {{sub.products.length}} --> 1</p></td>
                  <td>
                      <div class="btn btn-icon btn-danger float-right" @click="delCategory(sub)"><i class="fa fa-trash"></i></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    category: Object,
    subcategories: Array,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      products: [],
      sub: "all",
      subs: this.$props.subcategories,
    }
  },
  methods: {
    delCategory(subcategory){
      $('.rem-category-name').each(function(){
        $(this).html(subcategory.name);
      });
      document.getElementById('rem-category-id').value = subcategory.id;
      $('#removeCategoryModal').modal('show');
    },
    getSubCategories(){
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};

        axios.get('/api/categories/subcategories/get/' + this.$props.category.id).then(response => {
          // Empty fields and enable success message
          this.fields = {};
          this.loaded = true;
          this.success = true;
          this.subs = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    }
  },
}
</script>