.scroll-fade,
.btn-pulse{
  opacity: 0;
  @include transition(300ms);
}
.lds-roller {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transgreydark;
  display: table;
  opacity: 0;
  z-index: -1;
  @include transition(300ms);
  .vert-mid{
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
  }
  &.on{
    opacity: 1;
    z-index: 3000;
  }
  #loader-message{
    font-weight: 600;
    font-family: $title;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $transwhite;
  display: table;
  opacity: 1;
  z-index: 10;
  @include transition(300ms);
  .lds-roller div:after {
    background: $primary;
  }
  &.off{
    opacity: 0;
    z-index: -1;
  }
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}