// Backgrounds ----------------
.no-webp{
	.home_bg{
		background-image: url('/img/bg/home1.jpg');
	}
	.event_bg{
		background-image: url('/img/bg/bg1.jpg');
	}
	.news_bg{
		background-image: url('/img/bg/bg2.jpg');
	}
	.shop_bg{
		background-image: url('/img/bg/bg3.jpg');
	}
	.about_bg{
		background-image: url('/img/bg/bg4.jpg');
	}
	.contact_bg{
		background-image: url('/img/bg/accordian.jpg');
	}
	#social_stripe{
		background-image: url('/img/bg/bg.jpg');
	}
}
.webp{
	.home_bg{
		background-image: url('/img/bg/home1.webp');
	}
	.event_bg{
		background-image: url('/img/bg/bg1.webp');
	}
	.news_bg{
		background-image: url('/img/bg/bg2.webp');
	}
	.shop_bg{
		background-image: url('/img/bg/bg3.webp');
	}
	.about_bg{
		background-image: url('/img/bg/bg4.webp');
	}
	.contact_bg{
		background-image: url('/img/bg/accordian.webp');
	}
	#social_stripe{
		background-image: url('/img/bg/bg.webp');
	}
}
.light_bg{
	background-color: $lightbg;
}
.white_bg{
	background-color: $white;
	color: $darkgrey;
}
.grey_bg{
	background-color: $lightgrey;
	h2{
		color: $white;
	}
	.social{
		width: 60px;
		height: 60px;
		i{
			font-size: 45px;
		}
		&:hover{
			i{
				color: $lightgrey
			}
		}
	}
}
.dark_bg{
	background-color: $darkgrey;
	h2{
		color: $white;
	}
	.social{
		width: 40px;
		height: 40px;
		padding: 9px;
		background-color: $white;
		i{
			color: $primary;
			font-size: 20px;
		}
		&:hover{
			background-color: $primary;
			i{
				color: $darkgrey
			}
		}
	}
}
.light_trans{
	background-color: rgba(60,60,59,0.5);
}
.dark_trans{
	background-color: rgba(60,60,59,0.7);
}
.primary_bg{
	background-color: $primary;
	color: $white;
	h2{
		color: $white;
	}
	.social{
		width: 60px;
		height: 60px;
		i{
			font-size: 45px;
		}
	}
}

.bg{
	@include background();
}
.bg_attch{
	background-attachment: fixed;
	@include background();
}
.white_fade{
	width:100%;
	height:100px;
	margin-top: -100px;
	position:relative;
	z-index: 100;
	@include white_grad();
}
