
// Body Styles -------------------
body{
	background-color: $white;
	font-family: $body;
	color: $darkgrey;
	font-size: 16px;
	&.dash_body{
		border-top: 0;
	}
	.text-small{
		font-size: 14px;
	}
	h1{
		font-family: $title;
		font-size: 3rem;
		font-weight: 800;
		text-transform: uppercase;
		&.page_title{
			font-size: 80px;
		}
		&.top_title{
			color: $white;
			font-size: 50px;
			letter-spacing: auto;
		}
		&.home-h1{
			font-size: 2rem;
		}
	}
	h2{
		font-family: $title;
		font-size: 2.5rem;
		margin-bottom: 0;
		margin-top: 0;
		&.heading{
			margin-bottom: 20px;
		}
		.small_text{
			font-family: $title;
			font-weight: 300;
			font-size: 13px;
		}
	}
	h3{
		font-family: $title;
	    font-size: 2rem;
		&.heading{
			margin-bottom: 20px;
		}
		.small_text{
			font-family: $title;
			font-weight: 300;
			font-size: 13px;
		}
	}
	h4{
		font-family: $title;
	    font-size: 1.5rem;
	}
	h5{
		font-family: $body;
		font-size: 18px;
		font-weight: 800;
		margin-bottom: 0;
		margin-top: 0;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 8px;
		font-family: $body;
		&.large_p{
			line-height: 22px;
			font-size: 18px;
		}
		&.big_text{
			font-size: 18px;
			font-style: italic;
			font-weight: 500;
		}
		&.strap{
			color: $white;
			font-size: 18px;
			max-width: 500px;
			margin: 15px auto 0;
			display: block;
		}
		&.small_text{
			font-size: 12px;
		}
		&.warning{
			font-style: italic;
			font-size: 12px;
		}
		&.bold_warning{
			font-weight: 700;
			font-style: italic;
			font-size: 12px;
		}
		&.big_italic{
			line-height: 26px;
			font-size: 20px;
			font-style: italic;
		}
		&.score_out{
			text-decoration: line-through;
		}
		.small_text{
			font-size: 12px;
		}
		.bold, b{
			font-weight: 700;
		}
		&.social_p{
			font-size: 22px;
			a{
				color: $white;
				&:hover{
					color: $lightgrey;
				}
			}
		}
		&.quote{
			font-size: 1.2rem;
			font-style: italic;
			font-weight: 500;
		}
		&.quote-name{
			font-size: 0.8rem;
		}
	}
	a{
		text-decoration: none;
		color: $primary;
		@include transition(500ms);
		&:hover,
		&:focus{
			color: $primary;
			text-decoration: none;
		}
	}
	.caption{
		font-size: 14px;
		color: $white;
	}
	.bold{
		font-weight: 700;
	}
	.red_text{
		color:$primary;
	}
	.dark_text{
		color: $darkgrey;
	}
	.white_text{
		color:$white;
	}
	.error{
		p{
			padding: 10px 0;
			color:$primary;	
		}
	}
	strong{
		font-weight: 700 !important;
	}
	.max_500{
		max-width: 500px;
	}
	.justify{
		text-align: justify;
	}
	.square{
		@include background();
	}
	.list{
		padding-left: 15px;
	}
	#refine{
		margin-bottom: 0;
	}
	.grey_text{
		color: $lightgrey !important;
	}
	.error_text{
		color: $error;
	}
	.uppercase{
		text-transform: uppercase;
	}
	.underline{
		text-decoration: underline;
	}
}