// Buttons --------------------
.btn-primary{
	background-color: $primary;
	border: 2px solid $primary;
	color: $white;
	display: block;
	margin: auto;
	border-radius: 0px;
	padding: 11px 0;
    height: 50px;
	font-family: $body;
	font-size: 15px;
	width: 180px;
	text-transform: uppercase;
	cursor: pointer;
	@include boxShadow();
	@include transition(500ms);
	i{
		margin-left: 0;
		@include transition(500ms);
	}
	&:visited{
		background-color: transparent;
		border: 2px solid $darkgrey;
		color: $darkgrey;
	}
	&:hover,
	&:focus,
	&:active{
		outline: none;
		background-color: $second;
		border: 2px solid $second;
	}
	&:disabled,
	&[disabled]{
		background-color: $lightgrey !important;
		border: 2px solid $lightgrey !important;
	}
}
.btn-small{
    cursor: pointer;
    width: 100px;
    padding: 5px;
    height: 30px;
    font-size: 12px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
	background-color: $darkgrey;
	border: 2px solid $darkgrey;
	color: $white;
	&:hover{
		background-color: $darkgrey;
		border: 2px solid $darkgrey;
		color: $white;
	}
}
.btn-grey{
	background-color: $lightgrey;
	border: 2px solid $lightgrey;
	color: $white;
	display: block;
	margin: auto;
	border-radius: 0px;
	font-family: $title;
	width: 180px;
	padding: 11px 0;
    height: 50px;
	text-transform: uppercase;
	cursor: pointer;
	@include boxShadow();
	@include transition(500ms);
	i{
		margin-left: 0;
		@include transition(500ms);
	}
	&:visited{
		background-color: $lightgrey;
		border: 2px solid $lightgrey;
		color: $white;
	}
	&:hover,
	&:focus{
		background-color: $primary;
		border: 2px solid $primary;
		color: $white;
		i{
			margin-left: 10px;
		}
	}
	&.al_left{
		margin-left: 0;
	}
}
.btn-grey-fill{
	background-color: $darkgrey;
	border: 2px solid $darkgrey;
	color: $white;
	display: block;
	margin: auto;
	border-radius: 0px;
	padding: 11px 0;
    height: 50px;
	font-family: $title;
	width: 180px;
	text-transform: uppercase;
	cursor: pointer;
	@include boxShadow();
	@include transition(500ms);
	i{
		margin-left: 0;
		@include transition(500ms);
	}
	&:visited{
		background-color: $darkgrey;
		border: 2px solid $darkgrey;
		color: $white;
	}
	&:hover,
	&:focus{
		background-color: $white;
		border: 2px solid $white;
		color: $darkgrey;
		i{
			margin-left: 10px;
		}
	}
}
.btn-white{
	background-color: $white;
	border: 2px solid $white;
	color: $darkgrey;
	display: block;
	margin: auto;
	border-radius: 0px;
	padding: 11px 0;
    height: 50px;
	font-family: $body;
	font-size: 15px;
	width: 180px;
	text-transform: uppercase;
	cursor: pointer;
	@include boxShadow();
	@include transition(500ms);
	i{
		margin-left: 0;
		@include transition(500ms);
	}
	&:visited{
		background-color: $white;
		border: 2px solid $white;
		color: $darkgrey;
	}
	&:hover,
	&:focus,
	&:active{
		outline: none;
		background-color: $lightgrey;
		color: $darkgrey;
		border: 2px solid $lightgrey;
	}
	&.al_left{
		margin-left: 0;
	}
	&.btn-round-small{
		width: 150px;
	    height: 40px;
	    padding: 8px 0;
	    font-size: 15px;
	}
}
.btn-text{
	outline: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	color: $lightgrey;
	font-style: italic;
}
.btn{
	&:hover{
		text-decoration: none !important;
	}
}
.btn-full{
	width: 100%;
}
.btn-long{
	width: 250px;
}

.account_btn{
	text-transform: capitalize;
}