.fullHeight{
	height: 100vh;
}
.halfHeight{
	height: 50vh;
}
.twoThirdsHeight{
	height: 66vh;
}
.title_text_holder{
	position: relative;
	min-height: 120px;
	h1{
		position: absolute;
		width: 100%;
		text-align: center;
	}
}
.z-2{
	z-index: 2;
}
.border_btm{
	border-bottom: 1px solid $lightgrey;
}
.contact_social{
	margin-top:15px;
		.social{
		border: 2px solid $darkgrey;
		background-color: transparent;
		border-radius: 100%;
		padding: 6px 0;
		width: 36px;
		height: 36px;
		margin: auto;
		text-align: center;
		display: inline-block;
		@include transition(500ms);
		i{
			color: $darkgrey;
			font-size: 20px;
			@include transition(500ms);
		}
		&:hover{
			border: 2px solid $primary;
			background-color: $primary;
			i{
				color: $white;
			}
		}
	}
}
.contact_links{
	a{
		margin-bottom: 0;
		color: $darkgrey;
	}
	p{
		margin-bottom: 0;
	}
}
.img_100{
	width: 100%;
}
.width_100{
	width: 100%;
}
.logos_row{
	text-align: center;
	.logos{
		img{
			width: 100%;
		}
	}
}
.album_img{
	img{
		border-top-right-radius: 10px;
		width: 100%;
	}
}
#home_logo{
	max-width: 480px;
}
.animated{
	opacity: 0;
}
#para_logo{
	position: absolute;
    top: calc(50% - 57px);
    width: 250px;
    left: calc(50% - 125px);
    opacity: 0.2;
}
.trans{
	background-color: $transgrey;
}
.intro{
	font-style: italic;
	font-weight: 700;
	font-family: $title;
	letter-spacing: 3px;
	line-height: 30px;
	font-size: 25px;
}
.border_box{
	padding: 15px;
	border: 2px solid $primary;
}
#home_bg{
	color: $white;
	position:relative;
	padding: 90px inherit;
	background-attachment: fixed;
	height: 630px;
	@include background();
	.trans{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $transgrey;
	}
	.home_bg_inner{
		position: absolute !important;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.row{
		position:relative;
	}
	.home_bg_box{
		position: absolute;
		left: 0;
		top: 90px;
		width: 50%;
		height: calc(100% - 180px);
		background-color: $transgrey;
		color: $white;
		border-bottom-right-radius: 20px;
	}
	.d-table{
		left: 15px !important;
		width:calc(100% - 25px) !important;
	}
}
.top-btns{
	position: absolute;
	bottom: -15px;
	height: 80px;
	width: 100%;
	left: 0;
	.top-btn{
		background-color: $primary;
		color: $white;
		font-family: $title;
		padding: 1.3rem;
	    font-size: 1.5rem;
	    text-transform: uppercase;
	    height: 80px;
		text-align: center;
		cursor: pointer;
		@include boxShadow();
		@include transition(300ms);
		&:hover{
			background-color: $white;
			color: $primary;
		}
		&.top-btn-white{
			background-color: $white;
			color: $primary;
			&:hover{
				background-color: $primary;
				color: $white;
			}
		}
	}
}
.dash-product{
	&.not-purchased{
		color: $lightgrey;
		.square{
			-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	         -webkit-filter: grayscale(100%);
	         filter: gray;
	         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		}
		.dash-product-content{
			background-color: #ccc;
		}
	}
	.dash-product-content{
		background-color: #f2f2f2;
	}
}