.dis-table{
	display: table;
	.vert-mid{
		display: table-cell;
		vertical-align: middle;
	}
	.vert-btm{
		display: table-cell;
		vertical-align: bottom;
	}
}
.social{
	display: inline-block;
	border: 0;
	background-color: transparent;
	border-radius: 100%;
	padding: 7px 0;
	width: 36px;
	height: 36px;
	margin: auto;
	text-align: center;
	@include transition(500ms);
	i{
		color: $white;
		font-size: 20px;
		@include transition(500ms);
	}
	&:hover{
		border: 0;
		background-color: $white;
		i{
			color: $primary;
		}
	}
	&.social_dark{
		background-color: $primary;
		color: $white;
		&:hover{
			background-color: $lightgrey;
			i{
				color: $white; 
			}
		}
	}
}

// Orientation -----------------
#orientation_change {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: $darkgrey;
  text-align: center;
  display: none; }
  #orientation_change p {
    color: $white;
    font-family: $title;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 200px;
        font-size: 20px;
    line-height: 30px; }
  #orientation_change img {
    position: absolute;
    top: 50px;
    width: 150px;
    left: calc(50% - 75px); }
#instafeed{
	margin-left: -30px;
    margin-right: -30px;
    p{
    	color: $darkgrey !important;
    }
}
#social_stripe{
	background-attachment: fixed;
}
.home_box{
	.home_box_inner{
		padding: 30px;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: rgba(255,255,255,0.95);
		color: $darkgrey;
	}
}
// Slideshows -----------
.home_slider{
	height: 100vh;
	width: 100vw;
	z-index: 1;
	overflow: hidden;
	.slider{
		height: 100vh;
		width: 100vw;
		.slide{
			height: 100vh;
			width: 100vw;
			.slide_inner{
				height: 100vh;
				width: 100%;
				img{
					display: block;
					width: 200px;
					margin: auto;
				}
			}
		}
	}
	.bx-controls{
		display: none;
	}
}
.font_16{
	font-size: 16px;
	p{
		font-size: 16px;
	}
}
.blog_slider{
	height: 66vh;
	width: 100vw;
	overflow: hidden;
	.slider{
		height: 66vh;
		width: 100vw;
		z-index: 5;
		.slide{
			height: 66vh;
			width: 100vw;
			@include appearance();
			@include background();
			.slide_inner{
				height: 66vh;
				width: 100%;
				img{
					display: block;
					width: 200px;
					margin: auto;
				}
			}
		}
	}
	.trans{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $transgrey;
		z-index: 10;
		.dis-table{
			width: 100%;
			height: 66vh;
			.vert-mid{
				h1{
					font-size: 50px;
					color: $white;
				}
				p{
					color: $white;
					max-width: 300px;
				}
			}
		}
	}
	.bx-controls{
		display: none;
	}
}
.bx-controls-direction,
.bx-controls-auto,
.ui-loader{
	display: none;
}
.bx-pager{
    width: auto;
    display: block;
    .bx-pager-item{
	    position: relative;
	    margin: 0 2px;
	    display: inline-block;
    }
    a{
	    border: 1px solid $primary;
	    background-color: transparent;
	    border-radius: 100%;
	    display: block;
		font-size: 0;
		padding: 5px;
		@include transition(500ms);
		&.active,
		&:hover,
		&:focus{
			background-color: $primary;
		}
    }
}

.slider_holder{
	position: relative;
	.slider{
		overflow: hidden;
		margin-left: 0;
		margin-right: 0;
		.slide{
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}	
	}
}
.line{
	position: relative;
	border-bottom: 2px solid $white;
	width: 100px;
	margin: 20px 0;
}
.line_center{
	position: relative;
	border-bottom: 2px solid $white;
	width: 100px;
	margin: 20px auto;
}
.line_white{
	position: relative;
	border-bottom: 2px solid $white;
	width: 100px;
	margin: 20px auto;
}
.pos-rel{
	position: relative;
}
.scrollBtnRow{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	margin-left: -15px;
	margin-right: -15px;
	.container{
		position: relative;
		height: 65px;
	}
}
.scroll-btn {
	width: 50px;
    height: 50px;
    display: block;
    background:transparent;
    background-size: 12px;
    border-radius: 100%;
    position: absolute;
    z-index: 50;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
	animation-name: scroll-btn;
    animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes scroll-btn {
    0%  {box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);}
	3% {box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);}
    35% {box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);}
}

/* Scroll button wrap (for second pulse) */	
.scroll-btn-wrap {
	width: 50px;
    height: 50px;
    display: block;
    background: transparent;
    border: 2px solid $white;
    background-size: 12px;
    border-radius: 100%;
    position: absolute;
    z-index: 50;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
	animation-name: scroll-btn-wrap;
    animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes scroll-btn-wrap {
    15%  {box-shadow: 0px 0px 0px 0px rgba(38,31,20,.5);}
	18% {box-shadow: 0px 0px 0px 1px rgba(38,31,20,.5);}
    50% {box-shadow: 0px 0px 0px 7px rgba(38,31,20,0);}
}

/* Scroll Button arrow + Animation */

.scroll-btn i {
	color: $white;
	margin: 16px 18px;
	font-size: 20px;
}
// Pagination --------------
.pagination{
	display: table;
	margin: 0 auto 50px;
}
.pagination li{
	width: 40px;
	text-align: center;
	display: inline-block;
	&.active,
	&:hover{
		background-color: $primary;
		span,
		a{
			color: $white;
			&:hover{
				color: $white;
			}
		}
	}
}
.pagination > .active > a,
.pagination > .active > a:hover, 
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    cursor: default;
}
.pagination > li > a,
.pagination > li > span{
	color: $primary;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus{
	color: $primary;
}
.page-item.active .page-link{
	background-color: $darkgrey;
	color: $white;
	border: 1px solid $darkgrey;
}
.help-block{
	color: $primary;
}
.img_box_holder{
	.img_box{
		background-color: $primary;
		height: 350px;
		position: absolute;
		width: 100%;
		display: block;
		left: 0;
		bottom: -50px;
		z-index: 1;
	}
	img{
		position: relative;
		width: calc(100% - 100px);
		display: block;
    	margin: auto;
		z-index: 2;
	}
}
.service_box{
	padding-bottom: 70px;
	.service_icon{
		background-color: $lightbg;
		border-radius: 100%;
		width: 250px;
		height: 250px;
		padding: 10% 0;
		text-align: center;
		margin: 0 auto -100px;
		z-index: 2;
		position: relative;
		@include background();
		img{
			height: 100%;
		}
	}
	.service_text{
		background-color: $second;
		padding: 130px 30px 30px;
		color: $white;
		text-align: center;
		z-index: 1;
		h2{
			font-size: 28px;
		}
		.line_center{
			border-bottom: 2px solid $primary;
		}
	}
}
.product_box{
	padding-bottom: 70px;
	.product_icon{
		width: 80%;
		padding: 0;
		text-align: center;
		margin: 0 auto -100px;
		z-index: 2;
		position: relative;
		img{
			width: 100%;
		}
	}
	.product_text{
		background-color: $second;
		padding: 130px 30px 30px;
		color: $white;
		text-align: left;
		z-index: 1;
		h2{
			font-size: 28px;
		}
		.line{
			border-bottom: 2px solid $primary;
		}
	}
}
.product{
	.caption{
		color: $primary;
	}
}
#message_sent{
	position: fixed; 
	background-color: $transgreydark;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	.message_sent_inner{
		p{
			display: block;
			max-width: 300px;
			margin: 15px auto;
			color: $white;
		}
		h3{
			color: $white;
		}
		.btn-round{
			background-color: $primary;
			color: $white;
			border: 2px solid $primary;
			&:hover{
				background-color: $second;
				color: $white;
				border: 2px solid $second;
			}
		}
	}
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}
.blogs_title{
	position: absolute;
    width: 100%;
}
.blog_img{
	position: relative;
	width: 100%;
	.blog_trans{
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: $transgrey;
		h2{
			line-height: 30px;
			font-size: 30px;
		}
	}
}
.basket_holder{
	#mini_basket{
		p.price{
			font-family: $title;
			font-weight: 700;
		}
	}
}
.blog_link{
	width: 100%;
	height: 230px;
	position: relative;
	@include background();
	background-size: 100%;
	@include transition(500ms);
	&:hover{
		background-size: 110%;
	}
	.trans{
		width: 100%;
		height: 230px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $transgrey;
	}
	p{
		color: $white;
	}
	h3{
		color: $white;
	}
}
.blog_holder{
	p{
		font-size: 16px !important;
		text-align: justify;
		span{
			font-size: 16px !important;
		}
	}
	img{
		width: 100%;
		margin: 20px auto;
	}
}
.upcoming-events-box{
	.upcoming-events-date{
		background-color: $darkgrey;
		color: $white;
		text-align: center;
		margin-bottom: 0;
		span{
			display: block;
			&.upcoming-events-day{
				font-size: 1.8rem;
				line-height: 1.6rem;
				font-weight: bold;
			}
			&.upcoming-events-month{
				font-size: 1rem;
				line-height: 1rem;
				margin-top: 5px;
			}
		}
	}
	p.upcoming-events-text{
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 1.8rem;
		a{
			color: $darkgrey;
			&:hover{
				color: $primary;
			}
		}
	}
}
.event-box{
	@include transition(300ms);
	.event-date-box{
		background-color: $lightbg;
		padding: 30px;
		color: $second;
		text-align: center;
		line-height: 2rem;
		.event-date{
			font-size: 2rem;
			font-family: $title;
			text-transform: uppercase;
		}
		.event-month{
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}
}
.tour_img{
	width: 100%;
	min-height: 287px;
	@include background();
	&.home_min_height{
		min-height: 223px;
	}
}