// Footer ---------------
footer{
	background-color: $darkgrey;
	padding: 50px 0;
	min-height: 212px;
	color: $white;
	.footer_logo{
		width: 200px;
		margin: auto;
		text-align:left;
		img{
			width: 100%;
		}
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: $white;
		&:hover{
			color: $lightgrey;
		}
	}
	.link_icon{
		width: 17px;
		display: inline-block;
		margin-right: 5px;
		img{
			width: 100%;
		}
	}
	.footer_social{
		width: 150px;
		margin: 15px auto 0;
		a{
			display: inline-block;
		}
	}
}
.desby{
	background-color: $darkgrey;
	color: $white;
	padding: 5px;
	p{
		font-size: 10px;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 100;
		a{
			color: $white;
			&:hover{
				color: $lightgrey;
			}
		}
	}
}