// Forms

/* Customize the label (the container) */
.checkbox_span{
	width: 20px;
    height: 20px;
    display: inline-block;
}
.check_box_label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	/* Hide the browser's default checkbox */
	input.check_box {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}
	/* Create a custom checkbox */
	.check_box_check {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: transparent;
		border: 1px solid $primary;
		margin-top: 5px;
		@include transition(500ms);
	}

	/* On mouse-over, add a grey background color */
	&:hover input.check_box ~ .check_box_check {
	  background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	input.check_box:checked ~ .check_box_check {
	  background-color: $primary;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.check_box_check:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	 input.check_box:checked ~ .check_box_check:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.check_box_check:after {
		left: 7px;
		top: 3px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

input.form-control{
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid $darkgrey;
	color: $darkgrey;
	border-radius: 0;
}
textarea.form-control{
	border: 1px solid $darkgrey;
	color: $darkgrey;
	border-radius: 0;
}
#screen_blur{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: $transgrey;
	display: none;
	z-index: 1000;
	&.on{
		display:block;
	}
}
.confirm_box,
#notification{
	position: fixed;
	top: 150vh;
	left: calc(50% - 175px);
	width: 350px;
	height: 350px;
	padding: 0 20px;
	color: white;
	background-color: $second;
	text-align: center;	
	display: none;
	@include boxShadow();
	@include transition(500ms);
	h2{
		color: $white;
		margin-bottom: 20px;
	}
	p{
		color: $white;
	}
	.btn-light{
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.btn{
		&:hover{
			background-color: $white;
			color: $primary;
			border: 2px solid $white;
		}
	}
	&.on{
		display:table !important;
		z-index: 2000;
		top: calc(50% - 175px);
	}
	form{
		height: 350px;
	}
}
.file-upload{
	width: 100%;
	height: 50px;
	border: 1px solid $white;
	position: relative;
	cursor: pointer;
	.file-upload-name{
		position: absolute;
		left: 0;
		font-size: 16px;
		padding: 0.65rem 1rem 0;
		height: 48px;
		text-align: left;
		cursor: pointer;
		width: calc(100% - 150px);
	}
	.file-upload-btn{
		position: absolute;
		right: 0;
		background-color: $white;
		color: $darkgrey;
		font-size: 16px;
		padding: 0.65rem 2rem 0;
		height: 48px;
		cursor: pointer;
		p{
			font-size: 0.8rem;
			line-height: 0.8rem;
			cursor: pointer;
		}
	}
}
/* Custom dropdown */
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.custom-dropdown select {
	background-color: $primary;
	color: $white;
	font-size: 24px;
	font-weight: 700;
	padding: 0.5rem 1rem;
	padding-right: 3rem;	
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	/*Hiding the select arrow for firefox*/
	-moz-appearance: none;
	/*Hiding the select arrow for chrome*/
	-webkit-appearance:none;
	/*Hiding the select arrow default implementation*/
	appearance: none;
	width: 100%;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
	display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
	font-family: FontAwesome;
	content: "\f107";
	height: 1em;
	font-size: 2rem;
	line-height: 1;
	right: 1rem;
	top: 50%;
	margin-top: -.5em;
	color: $white;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
	color: rgba(0,0,0,.25);
}

[data-braintree-id="number-field-group"] label {
	width: 100%;
}

.select-holder{
	position: relative;
	select{
		position: relative;
		background-color: transparent;
		z-index: 2;
	}
	&:after{
		z-index: 1;
		font-family: "FontAwesome";
		content: '\f107';
		position: absolute;
		top: 10px;
		right: 1rem;
		font-size: 20px;
	}
}