// Menu  --------------------
#menu_btn,
.menu_btn{
	position: fixed;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 200;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include transition(300ms);
	.nav-icon {
		width: 30px;
	    height: 30px;
	    position: relative;
	    z-index: 120;
	    cursor: pointer;
        @include transition(300ms);
        span {
		    display: block;
		    position: absolute;
		    height: 4px;
		    width: 100%;
		    background: $white;
		    opacity: 1;
		    right: 0;
		    cursor: pointer;
			@include transition(300ms);
        }
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 9px; 
			@include transition(300ms);
		}
		span:nth-child(3) {
			top: 18px; 
			width: 60%;
		}
		&.nav_open{
		    span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; }
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
	    }
    }
    &:hover{
	    .nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
    &.on{
    	background-color: #e83e8c;
    }
}
.light{
	#menu_btn,
	.menu_btn{
		.nav-icon{
			span{
				background-color: $darkgrey;
			}
			&.nav_open{
				span{
					background-color: $white;
				}
			}
		}
	}
}
#menu{
	padding-top: 100px;
}
#mobile_menu{
	position: fixed;
	left: -85vw;
	top: 0;
	width: 300px;
	max-width: 80vw;
	height: 100vh;
	z-index: 1050;
	text-align: left;
	background-color: $white;
	@include boxShadow();
	@include transition(300ms);
	.mobile_menu_inner{
		padding: 2rem;
		.menu_logo{
			margin-bottom: 35px;
		}
	}
	&.on{
		left: 0;
	}
	.menu_item{
		font-size: 6vw;
		margin-top: 1rem;
		font-family: $title;
		color: $darkgrey;
		@include transition(300ms);
		i{
			font-size: 22px;
		}
		img{
			width: 30px;
		}
		&:hover,
		&.active{
			color: $primary;
		}
		i{
			@include transition(300ms);
		}
	}
	.mobile_menu_social{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 0 1.3rem 2rem;
		a{
			font-size: 5vw;
			margin-right: 1rem;
			color: $darkgrey;
		}
	}
}
#top_stripe{
	background-color: $darkgrey;
	width: 100%;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;	
	img{
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	i{
		color: $white;
		font-size: 20px;
		&:hover{
			color: $primary;
		}
	}
}
#main_menu{
	width: 100%;
	height: 60px;
	background-color: $transgreydark;
	color: $white;
	position: fixed;
	top: -100px;
	left: 0;
	z-index: 51;
	padding: 0 35px;
	@include transition(500ms);
	&.on{
		top: 0;

	}
	#main_menu_logo{
		width: 120px;
		height: 60px;
		position: absolute; 
		right: 0;
		top: 0;
		img{
			width: 100%;
		}
	}
	.top_menu{
		height: 90px;
		a{
			display: inline-block;
		}
		.menu_item{
			font-family: $title;
			font-weight: 600;
			font-size: 16px;
			width: 60px;
			height: 60px;
			text-align: center;
			color: $white;
			@include transition(500ms);
			&:hover{
				background-color: $white;
				color: $darkgrey;
			}
			&.active{
				background-color: $white;
				color: $darkgrey;
			}
		}
	}
	i{
		margin-top: 20px;
		color: $white;
		@include transition(500ms);
		&:hover{
			color: $primary;
		}
	}
}
#top_bar{
	width: 100%;
	height: 90px;
	background-color: transparent;
	color: $white;
	position: absolute;
	z-index: 100;
	padding: 0 35px;
	@include transition(500ms);
	&.dark{
		background-color: $darkgrey;
	}
	&.on{
		background-color: $transgreydark;

	}
	&.off{
		background-color: transparent !important;
	}
	#top_logo{
		margin: 20px 0;
		height: 50px; 
		@include transition(500ms);
	}
	.top_menu{
		height: 90px;
		a{
			display: inline-block;
		}
		.menu_item{
			font-family: $title;
			font-weight: 600;
			font-size: 18px;
			width: 90px;
			height: 90px;
			text-align: center;
			color: $white;
			@include transition(500ms);
			&:hover{
				background-color: $white;
				color: $darkgrey;
			}
			&.active{
				background-color: $white;
				color: $darkgrey;
			}
		}
	}
	i{
		margin-top: 30px;
		margin-left: 0.5rem;
		font-size: 20px;
		color: $white;
		@include transition(500ms);
		&:hover{
			color: $primary;
		}
	}
}
.light{
	#top_bar{
		background-color: transparent;
		color: $darkgrey;
		.top_menu{
			.menu_item{
				color: $darkgrey;
				&:hover{
					background-color: $darkgrey;
					color: $white;
				}
				&.active{
					background-color: $darkgrey;
					color: $white;
				}
			}
		}
		i{
			color: $darkgrey;
			&:hover{
				color: $primary;
			}
		}
	}
}
#menu_body_hide{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transgreydark;
  display: table;
  opacity: 0;
  z-index: -1;
  @include transition(300ms);
  &.on{
    opacity: 1;
    z-index: 101;
  }
}