// Mixins -------------------
@mixin transition($ms) { 
	-webkit-transition: all $ms ease;
    -moz-transition: all $ms ease ;
    -o-transition: all $ms ease;
    transition: all $ms ease;
}
@mixin appearance(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
@mixin background(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@mixin boxShadow(){
	-webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.6);
}
@mixin gradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#261f14+0,ffffff+98 */
background: rgb(38,31,20); /* Old browsers */
background: -moz-linear-gradient(top, rgba(38,31,20,1) 0%, rgba(38,31,20,0) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(38,31,20,1) 0%,rgba(38,31,20,0) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(38,31,20,1) 0%,rgba(38,31,20,0) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#261f14', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

@mixin white_grad(){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+2,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 2%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}