// Margins and Padding --------
.no_marg_top{
	margin-top:0;
}
.row.no_marg_lr{
	margin-left: 0;
	margin-right: 0;
}
.no_margin_btm{
	margin-bottom:0;
}
.marg_top_5{
	margin-top: 5px;
}
.marg_top_10{
	margin-top: 10px;
}
.marg_btm_10{
	margin-bottom: 10px;
}
.marg_btm_15{
	margin-bottom: 15px;
}
.marg_top_15{
	margin-top: 15px;
}
.marg_top_20{
	margin-top: 20px;
}
.marg_top_26{
	margin-top: 26px;
}
.marg_top_30{
	margin-top: 30px;
}
.marg_right_30{
	margin-right: 30px;
}
.marg_btm_20{
	margin-bottom: 20px;
}
.marg_btm_50{
	margin-bottom: 50px;
}
.marg_btm_5{
	margin-bottom: 5px;
}
.marg_btm_0{
	margin-bottom: 0px;
}
.marg_top_100{
	margin-top: 100px;
}
.marg_minus{
	margin-left: -15px;
	margin-right: -15px;
}
.half_row{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	.half_col{
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}
.pad_90{
	padding-top: 90px;
	padding-bottom: 90px;
}
.pad_90_top{
	padding-top: 90px;
}
.pad_90_bottom{
	padding-bottom: 90px;
}
.pad{
	padding-top: 70px;
	padding-bottom: 70px;
}
.pad_top{
	padding-top: 70px;
}
.pad_15{
	padding: 15px;
}
.pad_btm{
	padding-bottom: 70px;
}
.pad_big_top{
	padding-top: 150px;
}
.pad_med{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad_med_top{
	padding-top: 30px;
}
.pad_med_btm{
	padding-bottom: 30px;
}
.pad_small{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pad_small_top{
	padding-top: 20px;
}
.pad_small_btm{
	padding-bottom: 20px;
}
.pad_smaller{
	padding-top:10px;
	padding-bottom:10px;
}
.pad_smaller_top{
	padding-top: 10px;
}
.no_pad{
	padding-left:0;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
}
.pad_lr_30{
	padding-left:30px;
	padding-right:30px;
}
.no_pad_lr{
	padding-left:0;
	padding-right:0;
}
.first_row{
	padding-top: 90px;
}
.min_full_height{
	min-height: 100vh;
}
.pos_rel{
	position: relative;
}
#map{
	height:600px;
	margin-top:70px;
}