.card{
	background-color: $lightbg;
	border: 0 solid $second;
	.card-header{
		background-color: $white;
	}
	textarea.form-control{
		height: 100px;
	}
}
select.form-control{
	height: 50px !important;
	margin-bottom: 15px;
	border: 1px solid $darkgrey;
	color: $darkgrey;
	border-radius: 0;
	@include appearance();
}
.product{
	&.sale{
		.sale_price{
    		.original_price{
    			display: inline-block;
    			position: relative;
    			color: $second;
    			font-family: $body;
    			font-size: 18px;
    			&:before {
			        border-bottom: 2px solid $primary;
	    			position: absolute;
				    content: "";
				    top: 10px;
				    width: 100%;
				    margin: 0 0%;
			        transform: rotate(160deg);
			        -webkit-transform: rotate(160deg);
			        -moz-transform: rotate(160deg);
			        -o-transform: rotate(160deg);
			    }
    		}
    		
		}
	}
	&.disabled{
		.disabled_box{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			z-index: 1;
			background-color: $transgreydark;
		}
		.card-content,
		.primary_text,
		.card-title,
		.duration{
			z-index: 2;
			position: relative;
			color: $white;
		}
	}
}
.file_upload_holder{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.navbar{
	height: 55px;
	border-bottom: 3px solid $primary;
	&.navbar-dark{
		background-color: $darkgrey;
	}
}
.navbar-brand{
	img{
		width: 100px;
	}
}
.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 55px;
}
.sidebar-sticky{
	width: 100%;
	.nav{
		.nav-link{
			padding: 0;
		}
		li{
			padding: 15px;
			cursor: pointer;
			&:hover{
				background-color: $primary;
				color: $white;
			}
		}
	}
}
main{
	margin-left: 16.6666666667%;
}
.form_img_preview{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
	display: table;
	.image_selected{
		display:table-cell;
		vertical-align: middle;
		width: 200px;
		height: 200px;
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		background-color: $transgrey;
		color: $white;
		opacity: 0;
		@include transition(500ms);
		i{
			font-size:30px;
		}
		&.on{
			opacity: 1;
		}
	}
}
.admin_blogs{
	.blog_trans{
		.square{
			width: 100%;
		}
	}
}