
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours -----------------
$primary: #303c6b; 
$primarylight: #14151b;
$second: #5c5c5c;
$white: #fff;
$black: #000;
$darkgrey: #14151b;
$midgrey: #535353;
$lightgrey: #8E8E8C;
$lightbg: #EFEFEF;
$transwhite: rgba(255,255,255,0.4);
$transgrey: rgba(18,22,36,0.7);
$transgreydark: rgba(18,22,36,0.9);
$highlight: #FF6A6A;
$error: #a43535;

// Fonts --------------------
$title: 'Poppins', sans-serif;
$body: 'Roboto', sans-serif;


// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}