<template>
	<div id="events-container" class="container-fluid position-relative page-scroll-to-top pt-5 mob-pb-0">
		<div class="row">
			<div class="container">
				<div class="row my-5 d-none d-md-flex">
					<div class="col-6">
						<h3 class="d-none d-md-block"><b>Upcoming Events</b></h3>
						<p>Search by event name, location or city</p>
					</div>
					<div class="col-6">
						<div class="row half_row">
							<div class="col-12 d-none d-md-block half_col">
								<input type="text" class="form-control smaller" name="search" placeholder="Search" v-model="search" v-on:keyup="getEvents"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-md-6 mb-4 mt-2" v-for="(event, index) in events.data">
						<div class="event-box row">
							<div class="col-sm-4 col-3 p-0">
								<div class="event-date-box square w-100 d-table">
									<div class="d-table-cell align-middle">
										<span class="event-date">{{thedate(event.date)}}</span><br><span class="event-month">{{themonth(event.date)}}</span>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-9 mob-text-left event-info pb-4 pt-2 px-4">
								<h4 class="text-dark">{{event.name}}</h4>
								<p class="mb-2 text-dark"><i class="fa fa-clock-o mr-2"></i><b>{{event.time}}</b><br class="d-sm-none"><i class="fa fa-map-marker ml-3 mob-ml-0 mr-2"></i><b>{{event.location.name}}, {{event.location.city}}</b></p>
								<p class="text-dark">{{event.description}}</p>
								<p class="text-dark" v-if='event.location.g_maps != NULL'><a :href="event.location.g_maps" target="_blank"><i class="fa fa-chevron-right"></i> View on Google Maps</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center" v-if="eventscount == 0">
					<div class="col-md-8 text-center py-5">
						<h4 class="mb-4">We couldn't find the event you were looking for.</h4>
						<p class="mb-4">If you’re interested in our work, get in touch we’ll get back to you. Please keep an eye on our <a href="https://www.facebook.com/conveyortek/">Facebook page</a> for new case studies and check back again soon!</p>
						<div class="btn btn-line btn-line-primary m-auto" data-toggle="modal" data-target="#enquire_modal"><span>Enquire Now</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<transition name="fade">
							<div class="row">
								<div class="col-12 justify-content-center">
									<pagination :data="events" @pagination-change-page="getEvents"></pagination>
								</div>
							</div>
						</transition>
					</div>
				</div>
			</div>
		</div>
		<loader :height="521" :loaderClass="loaderClass"></loader>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				errors: {},
				success: false,
				loaded: true,
				events: {},
				eventscount: 0,
				limit: 6,
				search: "",
				loaderClass: "on",
				breadcrumb: "View All",
			}
		},
		mounted(){
			this.getEvents();
		},
		updated(){
			$('.square').each(function(){
				$(this).height($(this).width() + 'px');
			});
		},
		methods: {
			moment: function (date) {
				return moment(date).format('DD/MM/YYYY');
			},
			thedate: function (date) {
	      return moment(date).format('DD');
	    },
	    themonth: function (date) {
	      return moment(date).format('MMM');
	    },
			getEvents(page = 1) {
				this.loaderClass = "on";
				if (this.loaded) {

					this.loaded = false;
					this.success = false;
					this.errors = {};
					this.offset = 0;

					axios.get('/api/events/get/' + this.limit + '?page=' + page + '&search=' + this.search).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.events = response.data;
            this.loaderClass = "off";
            this.eventscount = _.size(response.data.data);
            
          })
					.catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
				}
			},
		}
	}
</script>