<template>
	<div id="upcoming-events" class="container">
		<div v-if="events.length == 0" class="row half_row">
			<div class="col-12 pl-0 half_col">
				<p class="mb-0"><b>Unfortunately we don't have any events scheduled at the moment. Please check back later or <a href="/contact">get in touch</a>.</b></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-4 mt-2" v-for="(event, index) in events.data">
				<div class="event-box row">
					<div class="col-sm-4 col-3 p-0">
						<div class="event-date-box square w-100 d-table">
							<div class="d-table-cell align-middle">
								<span class="event-date">{{thedate(event.date)}}</span><br><span class="event-month">{{themonth(event.date)}}</span>
							</div>
						</div>
					</div>
					<div class="col-sm-8 col-9 mob-text-left event-info pb-4 pt-2 px-4">
						<h4 class="text-dark">{{event.name}}</h4>
						<p class="mb-2 text-dark"><i class="fa fa-clock-o mr-2"></i><b>{{event.time}}</b><br class="d-sm-none"><i class="fa fa-map-marker ml-3 mob-ml-0 mr-2"></i><b>{{event.location.name}}, {{event.location.city}}</b></p>
						<p class="text-dark">{{event.description}}</p>
						<p class="text-dark" v-if='event.location.g_maps != NULL'><a :href="event.location.g_maps" target="_blank"><i class="fa fa-chevron-right"></i> View on Google Maps</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
      		count: Number,
	    },
		data() {
			return {
				errors: {},
				success: false,
				loaded: true,
				events: {},
				limit: this.$props.count,
				search: "",
			}
		},
		mounted(){
			this.getEvents();
		},
		methods: {
			moment: function (date) {
				return moment(date).format('DD/MM/YYYY');
			},
			thedate: function (date) {
				return moment(date).format('DD');
			},
			themonth: function (date) {
				return moment(date).format('MMM');
			},
			getEvents() {
				this.events = {};
				if (this.loaded) {
					this.loaded = false;
					this.success = false;
					this.errors = {};
					axios.get('/api/events/get/' + this.limit).then(response => {
						this.loaded = true;
						this.success = true;
						this.events = response.data;
					})
					.catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
        });
				}
			},
		}
	}
</script>