<template>
	<form @submit.prevent="submit" class="row half_row text-left">
		<div class="col-12 half_col mt-5 mob-mt-0">
			<h2 class="scrollFade text-second mb-3" data-fade="fadeIn">Get in touch</h2>
		</div>
		<div class="form-group mb-0 col-sm-6 half_col">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group mb-0 col-sm-6 half_col">
			<label for="subject">Subject</label>
			<div class="select-holder">
				<select id="subject" name="subject" class="form-control" v-model="fields.subject">
					<option value="General Enquiry">General Enquiry</option>
					<option value="Booking Request">Booking Request</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div v-if="errors && errors.subject" class="text-primary">{{ errors.subject[0] }}</div>
		</div>
		<div class="form-group mb-0 col-sm-6 half_col">
			<label for="email">Email</label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group mb-0 col-sm-6 half_col">
			<label for="phone">Phone</label>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone number" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-sm-12 half_col">
			<label for="message">Message</label>
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Message" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
		</div>
		<div class="form-group mb-0 col-xl-6 half_col">
			<div id="recaptcha-error" class="text-primary text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="form-group mb-0 col-xl-6 half_col">
			<div class="row">
				<div class="col-12">
					<button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full mob-mx-auto mob-no-float">SEND</button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					subject: 'General Enquiry',
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		    document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-enquiry', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	console.log(error.response.data.message);
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>