<template>
<div id="loader">
	<div class="vert-mid">
		<img id="loader-success" src="/img/icons/success.svg" class="d-none mx-auto" width="80" alt="Success icon"/>
		<div id="loader-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		<div id="loader-message"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-4">
							<a id="loader-link">
								<div id="loader-btn" class="btn btn-primary mx-auto d-none mt-3"></div>
							</a>
							<div id="close-loader-btn" class="btn btn-primary mx-auto d-none mt-3">Close</div>
						</div>
						<div class="col-md-12 text-center">
							<p id="loader-second-text" class="d-none cursor-pointer"><a id="loader-second-link"></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>