<template>
  <div class="container my-5">
    <div class="row">
      <blog-posts v-bind:category="this.category" :count="6" :showpagination="true" :colsize="6"></blog-posts>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      categories: Array,
    },
    data() {
      return {
        category: "all",
      }
    },
  }
</script>
