<template>
  <div class="container">
    <div class="row">
      <div v-for="post in posts.data" :key="post.id" class="col-sm-4 mb-5">
        <a :href="'/blog/'+slug(post)">
          <div class="row">
            <div class="col-12">
              <div class="blog_img square scrollFade mb-2" data-fade="fadeIn" :style="'background-image: url('+post.image+');'"></div>
            </div>
            <div class="col-12">
              <p class="caption text-dark mb-0"><b>{{moment(post.created_at)}}</b></p>
              <h4 class="mb-2 text-dark">{{post.title}}</h4>
              <p class="text-dark">{{post.exerpt}}</p>
              <p><i class="fa fa-chevron-right"></i> <b>Read Full Blog</b></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5" v-if="showpagination == true">
        <transition name="fade">
          <div class="row">
            <div class="col-12">
              <div class="pagination-holder blog-pagination">
                <pagination :data="posts" @pagination-change-page="getPosts"></pagination>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      count: Number,
      category: String,
      showpagination: Boolean,
      colsize: Number,
    },
    watch: { 
      category: function(newVal, oldVal) {
        this.getPosts();
      }
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: this.count,
        loaded: true,
        posts: {},
        more: false,
        years: [],
      }
    },
    mounted() {
      this.getPosts();
    },
    updated(){
      this.square();
    },
    methods: {
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
      },
      square(){
        $(".square").each(function(){
          var theWidth = $(this).width();
          $(this).height(theWidth + "px");
        });
      },
      slug: function (post) {
        var d = moment(post.created_at).format('YYYY-MM-DD');
        var slug = d + '/' + post.slug;
        return slug;
      },
      getPosts(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/news/get-posts/' + this.$props.category + '/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.posts = response.data;
            if(this.posts.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      },
      getMore() {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = this.offset + this.limit;

          axios.get('/api/get-posts/' + this.category + '/' + this.offset + '/' + this.limit).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.posts.push.apply(this.posts, response.data);
            if(this.posts.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>
