<template>
  <div class="container py-5">
    <form @submit.prevent="submit" class="row">
      <div class="col-12">
        <h3>Create Event</h3>
        <p>Use the form below to add a new event to the website</p>
      </div>
      <div class="col-md-6">
        <div class="row half_row">
          <div class="col-12 mb-3 half_col">
            <label for="name"><b>Event Title</b></label>
            <input type="text" name="name" placeholder="Event Title" class="form-control" v-model="fields.name" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="link"><b>Facebook Event Link</b> | <span class="caption text-grey">optional</span></label>
            <input type="text" name="link" placeholder="Facebook Event Link" class="form-control" v-model="fields.link" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.link" class="text-primary">{{ errors.link[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="location"><b>Location</b> | <a href="/admin/locations/create"><span class="caption">Add New</span></a></label>
            <select id="location" class="form-control" name="location" v-model="fields.location" v-on:change="checkInputs">
              <option disabled="" value="Select Location">Select Location</option>
              <option v-for="location in locations" :value="location.id">{{location.name}}</option>
            </select>
            <div v-if="errors && errors.location" class="text-primary">{{ errors.location[0] }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="col-12 col-sm-12 mb-3 half_col">
            <label for="date"><b>Date</b></label>
            <div class="row half_row">
                <div class="col-4 half_col">
                  <select id="date" class="form-control" v-model="fields.date">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="col-4 half_col">
                  <select id="month" class="form-control" v-model="fields.month">
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
                <div class="col-4 half_col">
                  <select id="year" class="form-control" v-model="fields.year">
                    <option v-for="year in years" :value="year">{{year}}</option>
                  </select>
                </div>
              </div>
            <div v-if="errors && errors.start" class="text-primary">{{ errors.start[0] }}</div>
          </div>
          <div class="col-12 mb-3 half_col">
            <label for="time"><b>Start &amp; End Time</b> | <span class="caption text-grey">eg. 8pm - 10pm</span></label>
            <input type="text" name="time" placeholder="Start & End Time" class="form-control" v-model="fields.time" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.time" class="text-primary">{{ errors.time[0] }}</div>
          </div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-md-12 mb-3">
        <label for="description" class="mb-0"><b>Description</b></label>
        <p>Enter the event description</p>
        <input type="text" name="description" placeholder="Description" class="form-control" v-model="fields.description" v-on:keyup="checkInputs"/>
        <div v-if="errors && errors.description" class="text-primary">{{ errors.description[0] }}</div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-12">
        <button id="submit" type="submit" class="btn btn-primary float-right" disabled>Create</button>
      </div>
    </form>
  </div>
</template>

<script>
  import { VueEditor } from "vue2-editor";
  export default {
    props: {
      event: Object,
      image: String,
      locations: Array,
    },
    data() {
      return {
        fields: {
          name: this.$props.event.name,
          link: this.$props.event.link,
          date: ('0' + moment(this.$props.event.date).format('D')).slice(-2),
          month: ('0' + moment(this.$props.event.date).format('M')).slice(-2),
          year: moment(this.$props.event.date).format('YYYY'),
          time: this.$props.event.time,
          description: this.$props.event.description,
          location: this.$props.event.location.id,
        },
        years: Array(),
        errors: {},
        success: false,
        loaded: true,
      }
    },
    mounted(){
      var startDate = new Date();
      var currentDate = new Date();
      var currentYear = currentDate.getFullYear();
      var lastYear = startDate.getFullYear() + 5;
      while (currentYear <= lastYear) {
        this.years.push(currentYear++);
      }
      this.checkInputs();

    },
    methods: {
      checkInputs(){
        if(
          this.fields.name != "" &&
          this.fields.time != "" &&
          this.fields.description != ""
          ){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('name', this.fields.name);
          formData.append('link', this.fields.link);
          formData.append('date', this.fields.date);
          formData.append('month', this.fields.month);
          formData.append('year', this.fields.year);
          formData.append('time', this.fields.time);
          formData.append('description', this.fields.description);
          formData.append('location', this.fields.location);

          $('#close-loader-btn').removeClass('d-block');
          $('#close-loader-btn').addClass('d-none');
          $('#loader-roller').removeClass('d-none');
          $('#loader-roller').addClass('d-block');
          $('#loader-success').removeClass('d-block');
          $('#loader-success').addClass('d-none');
          document.getElementById("loader-message").innerHTML = "Updating Event";
          document.getElementById("loader").classList.add("on");

          axios.post('/api/events/update/' + this.$props.event.id, formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Event Updated Successfully";
            $('#close-loader-btn').removeClass('d-none');
            $('#close-loader-btn').addClass('d-block');
            $('#loader-roller').removeClass('d-block');
            $('#loader-roller').addClass('d-none');
            $('#loader-success').removeClass('d-none');
            $('#loader-success').addClass('d-block');
          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      },
    },
  }
</script>