<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-6"><h3 class="mb-0">Events</h3></div>
          <div class="col-6">
            <a href="/admin/events/create">
              <div class="btn btn-primary btn-small float-right"><i class="fa fa-plus mr-2"></i> Create</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Event Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Link</th>
                  <th scope="col" class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="event in events.data">
                  <td><p class="event-name mb-0 mt-2">{{event.name}}</p></td>
                  <td><p class="mb-0 mt-2">{{moment(event.date)}}</p></td>
                  <td><p class="mb-0 mt-2">{{event.time}}</p></td>
                  <td><p class="mb-0 mt-2"><a v-if="event.link" :href="event.link" target="_blank">{{event.link}}</a><span v-else>No Link Available</span></p></td>
                  <td>
                    <div class="btn btn-icon btn-danger float-right ml-1" @click="delEvent(event)"><i class="fa fa-trash"></i></div>
                    <a :href="'/admin/events/edit/'+event.id">
                      <div class="btn btn-icon btn-primary float-right ml-1"><i class="fa fa-edit"></i></div>
                    </a>
                    <a :href="'/admin/events/show/'+event.id">
                      <div class="btn btn-icon btn-success float-right"><i class="fa fa-eye"></i></div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-4 justify-content-center">
                  <pagination :data="events" @pagination-change-page="getEvents"></pagination>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      events: {},
      limit: 10,
    }
  },
  mounted(){
    this.getEvents();
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delEvent(event){
      $('.rem-event-name').each(function(){
        $(this).html(event.name);
      });
      document.getElementById('rem-event-id').value = event.id;
      $('#removeEventModal').modal('show');
    },
    getEvents(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/events/get/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.events = response.data;
            console.log(response.data);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
  },
}
</script>