<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{event.name}}</h3>
                <p class="mb-0 mt-2"><b>Start:</b> {{moment(event.start)}}</p>
                <p class="mb-0 mt-2"><b>End:</b> {{moment(event.end)}}</p>
                <p class="mb-0 mt-2"><b>Link:</b> <a v-if="event.link" :href="event.link" target="_blank">{{event.link}}</a><span v-else>No Link Available</span></p>
              </div>
              <div class="col-3">
                <div class="btn btn-icon btn-danger float-right ml-1" @click="delEvent(event)"><i class="fa fa-trash"></i></div>
                <a :href="'/admin/events/edit/'+event.id">
                  <div class="btn btn-icon btn-primary float-right"><i class="fa fa-edit"></i></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid shadow" :src="image" :alt="event.name + ' image'"/>
          </div>
          <div class="col-12 mt-4">
            <p class="mb-0"><b>Description</b></p>
            <div id="admin-event-description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    event: Object,
    image: String,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
    }
  },
  mounted(){
    document.getElementById('admin-event-description').innerHTML = this.$props.event.description;
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delEvent(event){
      $('.rem-event-name').each(function(){
        $(this).html(event.name);
      });
      document.getElementById('rem-event-id').value = event.id;
      $('#removeEventModal').modal('show');
    }
  },
}
</script>