// Footer ---------------
footer{
	background-color: $second;
	color: $white;
	margin: 0 !important;
	.container{
		max-width: 910px;
	}
	.footer_logo{
		width: 300px;
		margin: 0 auto 40px;
		img{
			width: 100%;
		}
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: $white;
		&:hover{
			color: $primary;
		}
	}
	.link_icon{
		width: 17px;
		display: inline-block;
		margin-right: 5px;
		img{
			width: 100%;
		}
	}
	.footer_social{
		width: 150px;
		margin: 15px auto 0;
		a{
			display: inline-block;
		}
	}
	.social_holder{
		width: 76px;
		display: block;
		margin: auto;
	}
	.social{
		background-color: $white;
		border: 2px solid $white;
		i{
			color: $second;
		}
	}
}