// Menu  --------------------
#menu_btn,
.menu_btn{
	position: fixed;
    top: 40px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    @include transition(300ms);
	.nav-icon {
		width: 30px;
	    height: 30px;
	    position: relative;
	    z-index: 120;
	    cursor: pointer;
        @include transition(300ms);
        span {
		    display: block;
		    position: absolute;
		    height: 4px;
		    width: 100%;
		    background: $white;
		    opacity: 1;
		    right: 0;
		    cursor: pointer;
			@include transition(300ms);
        }
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 9px; 
			@include transition(300ms);
		}
		span:nth-child(3) {
			top: 18px; 
			width: 60%;
		}
		&.nav_open{
		    span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; }
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
	    }
    }
    &:hover{
	    .nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
    &.on{
    	background-color: #e83e8c;
    }
}
#menu{
	position: fixed;
	left: -85vw;
	top: 0;
	width: 300px;
	max-width: 80vw;
	height: 100vh;
	z-index: 1050;
	background-color: $white;
	@include boxShadow();
	@include transition(300ms);
	.menu_inner{
		padding-top: 35px;
		.menu_logo{
			margin-bottom: 35px;
		}
	}
	&.on{
		left: 0;
	}
	.menu_item{
		img{
			width: 30px;
		}
		p{
			font-size: 16px;
			color: $darkgrey;
			@include transition(300ms);
			i{
				font-size: 22px;
			}
		}
		&:hover{
			p{
				color: $second;
			}
		}
		i{
			@include transition(300ms);
		}
	}
}
#menu_body_hide{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transblue;
  display: table;
  opacity: 0;
  z-index: -1;
  @include transition(300ms);
  &.on{
    opacity: 1;
    z-index: 101;
  }
}
.bcrumb{
	a{
		color: $white;
	}
}