// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #top_bar{
    text-align: left;
    padding: 0;
    .container{
      padding: 0;
      .col-xs-3{
        padding-left: 10px;
      }
    }
    .top_menu{
      padding-right: 10px;
    }
  }
  .scroll-btn,
  .scroll-btn-wrap{
    bottom: 25px;
    right: 25px;
  }
}