// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.img_box_holder{
		.img_box{
			display: none;
		}
		img{
			width: 100%;
			margin-top: 0;
		}
	}
	.ipad_no_pad{
		padding-top: 0;
		padding-bottom: 0;
	}
	.ipad_small_pad_btm{
		padding-bottom: 30px;
	}
	#top_bar{
		padding: 0 15px;
		text-align: left;
		.container{
			padding: 0;
			.col-xs-3{
				padding-left: 15px;
			}
		}
		.top_menu{
			padding-right: 25px;
		}
	}
	.scroll-btn,
	.scroll-btn-wrap{
		bottom: 15px;
		right: 15px;
	}
	#mobile_menu .menu_item,
	#mobile_menu .mobile_menu_social a{
		font-size: 1.5rem;
	}
	.blog_img .blog_trans h2 {
	    line-height: 1.5rem;
	    font-size: 1.3rem;
	}
}
// Up to ipad portrait
@media only screen and (max-width : 768px){

}