@media only screen and (max-width : 767px){
	body{
		text-align: center;
		h1{
			font-size: 10vw;
			&.home-h1{
				font-size: 5.5vw;
			}
			&.page_title{
				font-size: 11vw;
			}
		}
		h2{
			font-size: 9vw;
		}
		h3{
			font-size: 8vw;
		}
		p{
			font-size: 4vw;
		    line-height: 5.5vw;
			&.strap{
				font-size: 3.8vw;
				max-width: 80vw;
			}
		}
	}
	#home_bg{
		height: 500px;
		margin-bottom: 95px;
		.d-table{
			top: 0;
			left: 0;
			height:500px;
		}
		#home_logo{
			max-width: 280px;
		}
	}
	.intro{
		letter-spacing: 0.7vw;
	    line-height: 8vw;
	    font-size: 5vw;
	}
	#main_block{
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		top: auto;
		left: auto;
		.main_block_inner{
			display: table-cell;
			vertical-align: middle;
			height: auto;
			width: auto;
			padding: 0 1rem;
		}
	}
	#print_page{
		margin-bottom: 40px;
	}
	.your_details_success,
	.ref_no{
		text-align: left !important;
	}
	.pad_90{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.bg_attch{
		background-attachment: inherit;
	}
	.mob-m-0{
		margin: 0 !important;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-pr-0{
		padding-right: 0 !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-ml-0{
		margin-left: 0 !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-no-float{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-text-left{
		text-align: left !important;
	}
	.mob-text-right{
		text-align: right !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.mob-small-text{
		font-size: 3vw;
		line-height: 3.2vw;
	}
	.mob_pad_top{
		padding-top: 90px;
	}
	.mob_small_top{
		padding-top: 20px;
	}
	.products_slider .slider{
		.slide{
			background-position: 10% center;
		}
	}
	.product_box .product_text{
		height: auto !important;
	}
	#social_stripe{
		background-attachment: inherit;
	}
	#home_logo{
		max-width: 100px;
	}
	.dark_bg{
		.social{
			width: 11vw;
			height: 11vw;
			i{
				font-size: 7.5vw;
			}
		}
	}
	.line{
		margin: 20px auto;
	}
	.img_box_holder{
		.img_box{
			display: none;
		}
		img{
			width: 100%;
			margin-top: 40px;
		}
	}
	.pad{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.pad_top{
		padding-top: 50px;
	}
	.pad_btm{
		padding-bottom: 50px;
	}
	#top_bar{
		padding: 0;
		height: 55px;
		text-align: left;
		.container{
			padding: 0 15px;
		}
		.top_menu{
			a{
				display: none;
			}
		}
		#top_logo{
			margin: 15px 0;
			height: 45px;
		}
		&.on{
			#top_logo{
				margin: 5px 0;
			}
		}
	}
	.home_slider .slider{
		width: 100%;
	}
	#instafeed{
		margin-left: 0;
		margin-right: 0;
		.col-sm-4{
			padding: 0;
			display: none;
			&.insta_0,
			&.insta_1{
				display: block;
			}
		}
	}
	.img_box_holder{
		.img_box{
			display: none;
		}
		img{
			width: 100%;
			margin-top: 40px;
		}
	}
	.first_home_img{
		padding: 0;
	}
	.second_home_img{
		display: none;
	}
	.second_home_text{
		background-color: $second;
		color: $white;
		padding: 50px 15px;
		.line{
			border-bottom: 2px solid $white;
		}
	}
	.mob_no_pad{
		padding-top: 0;
		padding-bottom: 0;
	}
	.mob_no_top_pad{
		padding-top: 0;
	}
	.mob_no_btm_pad{
		padding-bottom: 0;
	}
	.mob_no_float{
		float: none !important;
	}
	#map{
		height: 400px;
		margin-top: 55px;
	}
	.product_box .product_text .line{
		margin: 40px 0;
	}
	.spotify_container{
		padding-bottom: 26.25%;
	}
	.mob_marg_btm{
		margin-bottom: 15px;
	}
	.mob_float_left{
		float: left;
	}
	.mob_text_center{
		text-align: center !important;
	}
	.twoThirdsHeight{
		height: 400px !important;
	}
	#paypal_donate{
		display: block;
		margin: auto;
		float: none !important;
	}
	.mob-mt-15{
		margin-top: 15px !important;
	}
	#insta_container{
		padding-right:0;
		padding-left:0;
		#instafeed{
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	#prev_blog_holder{
		margin-top: 15px;
	}
	.blog_img{
		.square{
			height: 100% !important;
		}
		.blog_trans{
			h2{
				line-height: 7vw;
    			font-size: 6vw;
			}
		}
	}
	.shop-now{
		bottom: -4.5rem;
	}
	.event-box{
		.event-info{
			padding-top: 10px !important;
			padding-bottom: 0 !important;
			h4{
				font-size: 5vw;
				margin-bottom: 5px;
			}
		}
		.event-date-box{
			padding: 20px 0;
			line-height: 6vw;
			.event-date{
				font-size: 5vw;
			}
			.event-month{
				font-size: 4vw;
			}
		}
	}
	#upcoming-events{
		min-height: 0;
	}
}