<template>
  <div class="container py-5">
    <form @submit.prevent="submit" class="row">
      <div class="col-12">
        <h3>Create Product</h3>
        <p>Use the form below to add a new product to the products section of the website</p>
      </div>
      <div class="col-md-6">
        <div class="row half_row">
          <div class="col-12 mb-3 half_col">
            <label for="name" class="mb-1"><b>Product Name</b> (max 50 characters)</label>
            <div id="name" class="input-group">
              <input type="text" class="form-control" placeholder="Product Name" :maxlength="titlemaxchars" v-model="fields.name" v-on:keyup="checkInputs"/>
              <div class="input-group-addon" v-text="(titlemaxchars - fields.name.length)"></div>
            </div>
            <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
          </div>
          <div class="col-6 mb-3 half_col">
            <label for="price" class="mb-1"><b>Price (£)</b></label>
            <input id="price" type="number" class="form-control" placeholder="Price (£)" v-model="fields.price" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.price" class="text-primary">{{ errors.price[0] }}</div>
          </div>
          <div class="col-6 mb-3 half_col">
            <label for="sale_price" class="mb-1"><b>Sale Price (£)</b> *Overides price</label>
            <input id="sale_price" type="number" class="form-control" placeholder="Sale Price (£)" v-model="fields.sale_price" v-on:keyup="checkInputs"/>
            <div v-if="errors && errors.sale_price" class="text-primary">{{ errors.sale_price[0] }}</div>
          </div>
          <div class="col-6 mb-3 half_col">
            <label for="category"><b>Category</b></label>
            <select id="category" class="form-control" name="category" v-model="fields.category" v-on:change="checkInputs">
              <option disabled="" value="Select Category">Select Category</option>
              <option v-for="category in categories" :value="category.id">{{category.name}}</option>
            </select>
            <div v-if="errors && errors.category" class="text-primary">{{ errors.category[0] }}</div>
          </div>
          <div class="col-6 mb-3 half_col">
            <label for="status"><b>Status</b></label>
            <select id="status" class="form-control" name="status" v-model="fields.status" v-on:change="checkInputs">
              <option disabled="" value="Select Status">Select Status</option>
              <option value="Active">Active</option>
              <option value="Not Active">Not Active</option>
            </select>
            <div v-if="errors && errors.status" class="text-primary">{{ errors.status[0] }}</div>
          </div>      
          <div class="col-12 my-3 half_col">
            <div class="file-upload" @click="clickFileUpload">
              <div class="file-upload-name text-primary">{{filename}}</div>
              <div class="file-upload-btn">
                <p class="mb-0"><b>Add File</b></p>
                <p class="mb-0"><span class="caption">(.zip, .mp3, .flac etc)</span></p>
              </div>
            </div>
            <div class="file-input-holder">
              <input id="download" type="file" name="download" v-on:change="onDownloadChange"/>
            </div>
            <div v-if="errors && errors.download" class="text-primary">{{ errors.download[0] }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="mb-1" for="image"><b>Product Image</b></label>
        <div class="file-input-holder">
          <input id="image" type="file" @change="onFileChange($event, 'image')"/>
        </div>
        <div v-if="!fields.image">
          <div class="file-input">
            <div class="image-holder shadow" @click="clickInput('image')">
              <div class="d-table">
                <div class="d-table-cell align-middle">
                  <i class="fa fa-image"></i>
                  <p class="mb-0">Click to add image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="image-preview position-relative" @click="clickInput('image')">
            <img :src="fields.image" class="img-fluid shadow max-h-438" alt="New job image"/>
            <div class="edit-image">
              <div class="d-table">
                <div class="d-table-cell align-middle">
                  <i class="fa fa-image"></i>
                  <p class="mb-0">Click to change image</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="errors && errors.image" class="text-primary">{{ errors.image[0] }}</div>
      </div>
      <div class="col-12 my-4"><hr></div>      
      <div class="col-md-12 mb-3">
        <label for="description" class="mb-0"><b>Description</b></label>
        <p>Enter the product description</p>
        <input type="text" name="description" placeholder="Description" class="form-control" v-model="fields.description" v-on:keyup="checkInputs"/>
        <div v-if="errors && errors.description" class="text-primary">{{ errors.description[0] }}</div>
      </div>
      <div class="col-12 my-4"><hr></div>
      <div class="col-12">
        <button id="submit" type="submit" class="btn btn-primary float-right" disabled>Create</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    props: {
      categories: Array,
    },
    data() {
      return {
        fields: {
          name: "",
          exerpt: "",
          price: Number,
          image: "",
          download: "",
          sale_price: Number,
          category: 'Select Category',
          status: 'Select Status',
        },
        file: "",
        filename: "",
        exerptmaxchars: 275,
        titlemaxchars: 50,
        errors: {},
        success: false,
        loaded: true,
      }
    },
    methods: {
      clickFileUpload(){
        $('#download').click();
      },
      checkInputs(){
        if(
          this.fields.name != "" &&
          this.fields.image != "" &&
          this.fields.download != "" &&
          this.fields.description != "" &&
          this.fields.price != "" &&
          this.fields.status != "Select Status" &&
          this.fields.category != "Select Category"
          ){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      onFileChange(e, theid){
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        this.createImage(files[0], theid);
      },
      onDownloadChange(e){
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        var reader = new FileReader();
        reader.onload = (e) => {
          this.fields.download = files[0];
        };
        reader.readAsDataURL(files[0]);
        this.filename = files[0].name;
      },
      createImage(file, theid) {
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
          this.image = file;
          this.fields.image = e.target.result;
          this.checkInputs();
        };
        reader.readAsDataURL(file);
      },
      clickInput : function(theid){
        document.getElementById(theid).click();
      },
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('image', this.image);
          formData.append('download', this.fields.download);
          formData.append('name', this.fields.name);
          formData.append('price', this.fields.price);
          formData.append('category', this.fields.category);
          formData.append('status', this.fields.status);
          formData.append('sale_price', this.fields.sale_price);
          formData.append('description', this.fields.description);

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Adding Product";

          axios.post('/api/products/store', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Product Added Successfully";
            window.location.replace('/admin/products');
          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      },
    },
  }
</script>