<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-6"><h3 class="mb-0">Products</h3></div>
          <div class="col-6">
            <a href="/admin/products/create">
              <div class="btn btn-primary btn-small float-right"><i class="fa fa-plus mr-2"></i> Create</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Sale Price</th>
                  <th scope="col">Status</th>
                  <th scope="col" class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in products.data">
                  <td><p class="mb-0 mt-2">{{product.name}}</p></td>
                  <td><p class="mb-0 mt-2">{{product.price}}</p></td>
                  <td><p class="mb-0 mt-2">{{product.sale_price}}</p></td>
                  <td><p class="mb-0 mt-2">{{product.status}}</p></td>
                  <td>
                    <div class="btn btn-icon btn-danger float-right ml-1" @click="delProduct(product)"><i class="fa fa-trash"></i></div>
                    <a :href="'/admin/products/edit/'+product.id">
                      <div class="btn btn-icon btn-primary float-right ml-1"><i class="fa fa-edit"></i></div>
                    </a>
                    <a :href="'/admin/products/show/'+product.id">
                      <div class="btn btn-icon btn-success float-right"><i class="fa fa-eye"></i></div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-4 justify-content-center">
                  <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      products: {},
      limit: 10,
    }
  },
  mounted(){
    this.getProducts();
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delProduct(product){
      $('.rem-product-name').each(function(){
        $(this).html(product.name);
      });
      document.getElementById('rem-product-id').value = product.id;
      $('#removeProductModal').modal('show');
    },
    getProducts(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/products/get/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.products = response.data;
            // console.log(this.products);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
  },
}
</script>