<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{product.name}}</h3>
                <p class="mb-0 mt-2"><b>{{product.category.name}}</b></p>
              </div>
              <div class="col-3">
                <div class="btn btn-icon btn-danger float-right ml-1" @click="delProduct(product)"><i class="fa fa-trash"></i></div>
                <a :href="'/admin/products/edit/'+product.id">
                  <div class="btn btn-icon btn-primary float-right"><i class="fa fa-edit"></i></div>
                </a>
              </div>
              <div class="col-12">
                <p class="mb-0 mt-2"><b>Status:</b> {{product.status}}</p>
                <p class="mb-0 mt-2"><b>Price:</b> &pound;{{product.price}}</p>
                <p v-if="product.sale_price" class="mt-2"><b>Sale Price:</b> &pound;{{product.sale_price}}</p>
                <p class="mb-1"><a :href="download"><i class="fa fa-download"></i> Download product file</a></p>
              </div>
              <div class="col-12">
                <p class="mb-0 mt-2">{{product.exerpt}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid shadow" :src="image" :alt="product.name + ' image'"/>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 mt-4">
            <h4>Description</h4>
            <div id="admin-product-description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    product: Object,
    image: String,
    download: String,
  },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
    }
  },
  mounted(){
    document.getElementById('admin-product-description').innerHTML = this.product.description;
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    },
    delProduct(product){
      $('.rem-product-name').each(function(){
        $(this).html(product.name);
      });
      document.getElementById('rem-product-id').value = product.id;
      $('#removeProductModal').modal('show');
    }
  },
}
</script>